* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  border: 2px solid burlywood;
  padding: 20px;
  text-align: center;
  background-color: beige;
}

.header {
  min-height: 100px;
}

.main {
  float: left;
  width: calc(100% - 500px);
  margin-left: 300px;
  min-height: calc(100vh - 200px);
}

.left {
  float: left;
  width: 300px;
  margin-left: calc(-100% + 200px);
  min-height: calc(100vh - 200px);
}

.right {
  float: left;
  width: 200px;
  min-height: calc(100vh - 200px);
}

.footer {
  min-height: 100px;
}

.clearfix {
  clear: both;
}